'use strict'


const feedKeys = Object.freeze({
  mta: '<YOUR KEY HERE>'
})

const mongoPasswords = Object.freeze({
  adminUser: '<CHANGE THIS>',
  readWriteUser: '<CHANGE THIS>',
  readOnlyUser: '<CHANGE THIS>',
})


module.export = Object.freeze({
  feedKeys,
  mongoPasswords,
})
